<%= link_to "new restaurant", new_restaurant_path, class: "btn btn-primary" %>
<% Restaurant.all.each do |restaurant| %>
  <h2>Restaurant: <%= restaurant.name %></h2>
  <h2>Category: <%= restaurant.category %></h2>
  <p>Address: <%= restaurant.address %></p>
  <p> Phone Numer: <%= restaurant.phone_number %></p>
  <%= link_to "edit restaurant details", edit_restaurant_path(restaurant), class: "btn btn-warning" %>
  <%= link_to "delete", restaurant_path(restaurant), class: "btn btn-danger", method: :delete %>
  <%= link_to "add a review", new_restaurant_review_path(restaurant),  class: "btn btn-warning" %>
<% end %>
