<h2>Restaurant: <%= @restaurant.title %></h2>
<p>Description: <%= @restaurant.details %>|| Completed: <%= @restaurant.completed %></p>

<%= link_to "edit", restaurant_edit_path(@restaurant), class: "btn btn-warning" %>
<%= link_to "delete", restaurant_path(@restaurant), class: "btn btn-danger", method: :delete %>
<%= link_to "all restaurants", restaurants_path, class: "btn btn-primary" %>
